@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin:0;
  padding:0;
  font-family: 'Segoe UI', 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, Arial, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.headerBackground {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 100%, black);


}


.inputForm {
  
    background: linear-gradient(180deg, #FFFFFF 0%, #FBFBFB 4%, #FFFFFF 15%);
  
  
}

.buttonRegister {
  font-size: 14px;
    font-family: 'Cinzel Decorative', cursive;
}


.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.philosopher-regular {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.philosopher-bold {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.philosopher-regular-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.philosopher-bold-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.philosoper {
  font-family: "Philosopher", sans-serif;
}

.pagination {
  list-style-type: circle;
  background-color: red;
}


.zoom-effect {
  transition: transform 0.3s ease; /* Définit une transition douce pour l'effet de zoom */
  transform: scale(1); /* L'état initial, sans zoom */
}

.zoom-effect:hover {
  transform: scale(1.1); /* Agrandit l'élément de 20% au survol */

}

.rotate-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.rotate-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
